name: Build and Release

on:
  # 这里的 workflow_dispatch 表示允许要在 GitHub 界面上手动点击按钮触发
  workflow_dispatch:
    # (可选) 你可以在这里添加输入参数，例如发布版本类型等
    # inputs:
    #   tags:
    #     description: 'Test scenario tags'  

permissions:
  contents: write

jobs:
  release:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 'latest'

      - name: Cache Bun dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.bun
            node_modules
          # 注意：如果你使用的是二进制锁文件，这里应为 bun.lockb
          key: ${{ runner.os }}-bun-cache-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-cache-

      - name: Install deps
        run: bun install

      - name: Build
        run: bun run build

      - name: Release
        id: release
        run: bun run release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
